// ============================================================
// Navbar
// ============================================================

.navbar {
  position: relative;
  @include mq(medium) {
    margin-top: em(45px);
    margin-bottom: 0;
  }
}
